<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="photos.css">
    <script defer src="photos.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <hr class="split">
    <div class="title_wrap"><span>Title: </span><span class="title"><%=img.title%></span><span class="date">(<%=user.nickname%>)</span></div>
    <div class="container">
        <div class="left"><img class="img" src="<%=img.img%>"></div>
        <div class="right">
            <div>
                <a href="<%=img.img%>" download="<%=img.title%>"><button >Download</button></a>
            </div>
            <% if (tag && tag.length > 0) { %>
                <% tag.forEach((tagItem) => { %>
                  <div>
                    <%= tagItem.tag %>
                  </div>
                <% }); %>
              <% } %>
        </div>
    </div>
    <div class="explanation_wrap">
        <div class="explanation_title">comment</div>
        <div class="explanation"><%=img.comment%></div>
    </div>
    <div class="buttton_wrap">
        <form method="post" action="/recommend">
            <input type="hidden" name="index" value="<%=img.img_no%>">
            <button class="button button_recom" type="submit">
                추천:
                <% if(img.Recommendation==null){%>
                    <%= 0 %>
                <%}else{%>
                    <%=img.Recommendation%>
                <%}%>
            </button>
        </form>
        <form method="post" action="/scrap">
            <input type="hidden" name="index" value="<%=img.img_no%>">
            <button class="button button_scrap" type="submit">스크랩</button>
        </form>
    </div>
    <hr class="split">
    <div id="commentpart">
        <% if(comment.length>0){%>
            <% for(let i=0; i<comment.length; i++){%>
                <div class="comment_wrap">
                    <div class="Writer">
                        <span><%=names[i].nickname%></span><span class="date">(<%=comment[i].date%>)</span>
                        <%if(reqname==0){%>
                        <%}%>
                        <%if(names[i].nickname == reqname){%>
                            <span id="recom">    
                                <button type="button" onclick="toggleEditComment(`<%= comment[i].comment_no %>`)">수정</button>        
                            </span>
                            <span>
                                <form method="post" action="/del_re">
                                    <input type="hidden" name="index_com_no" value="<%=comment[i].comment_no%>">
                                    <input type="hidden" name="index_img_no" value="<%=img.img_no%>">
                                    <button type="submit">삭제</button>
                                </form>
                            </span>
                        <%}%>
                    </div>
                        <div class="comment" id="comment">
                            <form method="post" action="/comm_re" class="edit_comment" id="edit_comment_<%= comment[i].comment_no %>" style="display: none;">
                                <input type="hidden" name="index_com_no" value="<%=comment[i].comment_no%>">
                                <input type="hidden" name="index_img_no" value="<%=img.img_no%>">
                                <input type="text" name="com" value="<%= comment[i].comment %>">
                                <button type="submit">완료</button>
                            </form>
                            <div class="re_comment" id="re_comment_<%= comment[i].comment_no %>" style="display: block;">
                                <%=comment[i].comment%>
                            </div>
                        </div>
                    <div>
                        <div><button onclick="Replywrite(`<%= comment[i].comment_no %>`)">답글</button><button onclick="Replycancle(`<%= comment[i].comment_no %>`)">취소</button></div>
                        <form method="post" action="/reply_input" id="reply_input_<%= comment[i].comment_no %>" style="display: none;">
                            <input type="hidden" name="index_com_no" value="<%=comment[i].comment_no%>">
                            <input type="hidden" name="index_img_no" value="<%=img.img_no%>">
                            <input type="text" id="edit_comment_input_<%= comment[i].comment_no %>" name="reply">
                            <button type="submit">완료</button>
                        </form>
                    </div>
                        <% if(reply.length>0){ %>
                            <% for(let j=0; j<reply.length; j++){%>
                                <% if(comment[i].comment_no==reply[j].comment_no){%>
                                    <div class="reply_wrap">
                                        <div class="reply_fi">
                                            <span><%=reply[j].nickname%></span><span class="reply_date">(<%=reply[j].date%>)</span>
                                                <%if(replyuser[j].nickname == reqname){%>  
                                                    <span class="reply_btn">
                                                        <button class="reply_del" onclick="Replychange('<%=reply[j].reply_no%>')">수정</button>
                                                        <form method="post" action="/reply_del">
                                                            <button class="reply_del">삭제</button>
                                                            <input type="hidden" name="reply_no" value="<%=reply[j].reply_no%>">
                                                            <input type="hidden" name="img_no" value="<%=img.img_no%>">
                                                        </form>
                                                    </span> 
                                                <%}%>
                                        </div>
                                        <div>
                                            <form method="post" action="/reply_ch" id="replychform_<%=reply[j].reply_no%>" style="display: none;">
                                                <input type="hidden" name="reply_no" value="<%=reply[j].reply_no%>">
                                                <input type="hidden" name="img_no" value="<%=img.img_no%>">
                                                <input type="text" name="ch_reply" value="<%=reply[j].reply%>">
                                                <button type="submit">완료</button>
                                            </form>
                                            <span id="reply_<%=reply[j].reply_no%>" style="display: block;"><%=reply[j].reply%></span>
                                        </div>
                                    </div>
                                <%}%>
                            <%}%>
                        <%}%>
                </div>
            <%}%>
        <%}else{%>
            댓글이 없습니다.
        <%}%>
    </div>
    <hr>
    <div class="write_wrap">
        <form method="post" action="/comment" class="form">
            <input class="write" id="comment_input" placeholder="Write a comment" name="comment">
            <input type="hidden" name="index2" value="<%=img.img_no%>">
            <button class="submit" type="submit">submit</button>
        </form>
    </div>
</body>
</html>