<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="photos.css">
    <script defer src="photos.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <hr class="split">
    <div class="title_wrap"><span>Title: </span><span class="title"><%=img.title%></span><span class="date">(<%=user.nickname%>)</span></div>
    <div class="container">
        <div class="left"><img class="img" src="<%=img.img%>"></div>
        <div class="right">
            <div>
                <a href="<%=img.img%>" download="<%=img.title%>"><button >Download</button></a>
            </div>
            <% if (tag && tag.length > 0) { %>
                <% tag.forEach((tagItem) => { %>
                  <div>
                    <%= tagItem.tag %>
                  </div>
                <% }); %>
              <% } %>
        </div>
    </div>
    <div class="explanation_wrap">
        <div class="explanation_title">comment</div>
        <div class="explanation"><%=img.comment%></div>
    </div>
    <div class="buttton_wrap">
        <form method="post" action="/recommend">
            <input type="hidden" name="index" value="<%=img.img_no%>">
            <button class="button button_recom" type="submit">
                추천:
                <% if(img.Recommendation==null){%>
                    <%= 0 %>
                <%}else{%>
                    <%=img.Recommendation%>
                <%}%>
            </button>
        </form>
        <form method="post" action="/scrap">
            <input type="hidden" name="index" value="<%=img.img_no%>">
            <button class="button button_scrap" type="submit">스크랩</button>
        </form>
    </div>
    <hr class="split">
    <div id="commentpart">
        <% if(comment.length>0){%>
            <% for(let i=0; i<comment.length; i++){%>
                <div class="comment_wrap">
                    <div class="Writer">
                        <span>user</span><span class="date">(<%=comment[i].date%>)</span>
                    </div>
                    <div class="comment">
                        <%=comment[i].comment%>
                    </div>
                    <div>
                        <div><button onclick="Replywrite(this)">답글</button><button onclick="Replycancle(this)">취소</button></div>
                        <div id="reply_input"></div>
                    </div>
                    <div class="reply_wrap" id="reply_wrap">
                    </div>
                </div>
            <%}%>
        <%}else{%>
            댓글이 없습니다.
        <%}%>
    </div>
    <hr>
    <div class="write_wrap">
        <form method="post" action="/comment" class="form">
            <input class="write" id="comment_input" placeholder="Write a comment" name="comment">
            <input type="hidden" name="index2" value="<%=img.img_no%>">
            <button class="submit" type="submit">submit</button>
        </form>
    </div>
</body>
</html>