<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="header/header.css">
    <link rel="stylesheet" href="scrap/scrap.css">
    <script defer src="scrap/scrap.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <hr class="split">
    <div class="container">
        <div class="sidebar">
            <div>
                <div class="Interval"><button class="menu"><a href="mypictures.ejs">My Pictures</a></button></div>
                <div class="Interval1"><button class="menu select"><a href="scrap.ejs">interesting picture</a></button></div>
                <div class="Interval2"><button class="menu"><a href="photoupload.ejs">picture upload</a></button></div>
            </div>
        </div>
        <div class="main">
            <div class="mypage_wrap">
                <div class="mypage">MyPage</div>
                    <div class="search">
                        <form class="search_form" method="post" action="/search_scrap">
                            <input class="search_input" type="text" placeholder="search" name="search">
                            <button button type="submit"><img class="search_img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                        </form>
                    </div>
            </div>
            <% if(photo.length>0){%>
                <% for(let i=0; i<photo.length; i++){%>
                    <div class="space">
                        <a href="/photos/<%=photo[photo.length-1-i].img_no%>">
                            <div class="left">
                                <div class="img_wrap"><img class="my_img" src="<%=photo[photo.length-1-i].img%>"></div>
                                <div class="my_photo">
                                    <div>
                                        <span>Title: </span><span class="title"><%=photo[photo.length-1-i].title%></span>
                                    </div>
                                    <p>
                                    <div>
                                        <div>Comment: </div><div class="comment"><%=photo[photo.length-1-i].comment%></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div>
                            <p>
                            <div><a href="<%=photo[photo.length-1-i].img%>" download="<%=photo[photo.length-1-i].title%>"><button class="down">Download</button></a></div>
                        </div>
                    </div>
                <%}%>
            <%}else{%>
                스크랩한 사진이 없습니다.
            <%}%>
        </div>
    </div>
</body>
</html>